    <!doctype html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Main</title>
        <link rel="stylesheet" href="/static/astatic.css/style.css" type="text/css"/>
        <link rel="stylesheet" href="/static/head/css/style.css"/>
        <script>
            document.createElement("header");
            document.createElement("nav");
            document.createElement("section");
            document.createElement("footer");
        </script>
    </head>
    <body>
    <header>
        <img src="/static/img/5_White_logo_on_black_176x71.png"/>
        <nav>
            <ul id="nav1">
                <li><a href="#"><i class="fa fa-"></i>pppp</a></li>



                <li><a href="/static/product/head/index.html"><i class="fa fa-"></i>Production</a></li>

                <li><a href="/static/portfolio/head/index.html"><i class="fa fa-"></i>Portfolio</a></li>
                <li><a href="/static/contact/headCcontact/index.html"><i class="fa fa-"></i>Contacts</a></li>
                <li><a href="/static/registry/htmlRegistry/index.html"><i class=""></i>Registry</a></li>
            </ul>
        </nav>
    </header>
    <section id="picture"> </section>
    <section>
        <aside id="leftBar">

        </aside>
    </section>

    <footer>

    </footer>


    </body>
    </html>